<div class="modal-header">
    <h4 class="modal-title" id="modal-map-title">Change Location</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <!-- google map -->
      <div class="form-group">
        <label>Enter address</label>
        <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
      </div>
     
      <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
          (dragEnd)="markerDragEnd($event)"></agm-marker>
      </agm-map>


    <!-- // google map -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="passBack()">Change Location</button>
  </div>