<div class="background-top">
  
  <div class="display-middle container">
    <div class="text-center w-100">
      <h4>Let's save our neighbours</h4>
      <p>At the wake of covid-19 outbreak, use this tool to get help for yourself and your neighbours in situations of emergency.<Br /></p>
      <a [routerLink]="['/account','register']" class="btn btn-primary">Join Our Community</a>
      <small id="emailHelp" class="form-text text-muted">as a volunter / help seeker</small> <br />
      <a [routerLink]="['/account','login']">Login</a> if you already have an account
    </div>
  </div>

</div>

<div class="background">
</div>
